.contenedor .menu_carrito {
	position: absolute;
	top: 160px;
	right: 50px;
	background-color: #97ff97;
	width: 25%;
	border-radius: 4px;
	padding: 10px 10px 0;
}
.contenedor .menu_carrito .producto {
	background-color: #ddd;
	width: 100%;
	border-radius: 3px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px;
	height: 40px;
	margin: 0 0 10px;
}
.contenedor .menu_carrito .producto .titulo {
	margin: 0;
	font-size: 1.4rem;
	cursor: pointer;
}
.contenedor .menu_carrito .producto .fa-trash {
	font-size: 1.2rem;
	color: #a00;
	transition: all 100ms ease;
}
.contenedor .menu_carrito .producto .fa-trash:hover {
	color: #f00;
	cursor: pointer;
}
.contenedor .menu_carrito-oculto {
	display: none;
}
.contenedor .account_menu {
	position: absolute;
	top: 160px;
	right: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: #97ff97;
	width: 25%;
	border-radius: 5px;
	padding: 20px;
	z-index: 1000;
}
.contenedor .account_menu .texto {
	font-size: 1.2rem;
	font-weight: 600;
	color: #000 !important;
}
.contenedor .account_menu .enlace .btn {
	background-color: #fff;
	color: #111;
	border-radius: 3px;
	font-size: 1.1rem;
	font-weight: 500;
	transition: all 300ms ease;
}
.contenedor .account_menu .enlace .btn:hover {
	background-color: #245d32;
	color: #ddd;
}
.contenedor .account_menu-oculto {
	display: none;
}
.contenedor .header .navigation_menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10.5% 0 0;
}
.contenedor .header .navigation_menu a .logo {
	width: 200px;
	height: auto;
	object-fit: cover;
	display: inline;
}
.contenedor .header .navigation_menu .navigation_menu_ul {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	height: auto;
	width: auto;
	margin-top: 70px;
}
.contenedor .header .navigation_menu .navigation_menu_ul .list_item {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 10px;
}
.contenedor .header .navigation_menu .navigation_menu_ul .list_item img {
	height: auto;
	width: 30px;
	cursor: pointer;
}
.contenedor .header .navigation_menu .navigation_menu_ul .list_item .link {
	text-decoration: none;
	color: #080;
	font-size: 1.5vw;
	font-weight: 600;
	transition: all 200ms ease;
}
.contenedor .header .navigation_menu .navigation_menu_ul .list_item .link:hover {
	color: #0d0;
}
.contenedor .header .user_bar {
	background-color: #4cb665;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	height: 50px;
}
.contenedor .header .user_bar .searcher {
	height: 80%;
	width: 30%;
	display: flex;
	justify-content: space-between;
}
.contenedor .header .user_bar .searcher .input {
	height: 100%;
	width: 100%;
	border: 3px #0000 solid;
	outline: none;
	border-radius: 3px;
	background-color: #ddd;
	transition: all 300ms ease;
	padding: 5px;
	line-height: 100%;
	font-size: 1.1rem;
	color: #444;
}
.contenedor .header .user_bar .searcher .input:focus {
	border: 3px #245d32 solid;
}
.contenedor .header .user_bar .searcher .btn {
	padding-left: 20px;
	font-size: 36px;
	color: #ddd;
	transition: all 300ms ease;
}
.contenedor .header .user_bar .searcher .btn:hover {
	color: #245d32;
	cursor: pointer;
}
.contenedor .header .user_bar .user_functions {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80%;
	width: calc(auto + 20px);
}
.contenedor .header .user_bar .user_functions .btn {
	color: #ddd;
	font-size: 36px;
	transition: all 300ms ease;
}
.contenedor .header .user_bar .user_functions .btn:hover {
	color: #245d32;
	cursor: pointer;
}
